.container {
    color: #24292f;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    word-wrap: break-word;
}

.h1 {
    border-bottom: 1px solid #d0d7de;
    padding-bottom: 0.3em;
    font-size: 2em;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.h2 {
    border-bottom: 1px solid #d0d7de;
    padding-bottom: 0.3em;
    font-size: 1.5em;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.h3 {
    font-size: 1.25em;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}